@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  height: 100%;
  max-height: 100%;

}

/* .fc-scroller-harness {
  background-color: red !important;
} */

.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;
  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}
.fc-scrollgrid-sync-inner {
  background-color: transparent;
}
.fc-daygrid-day-frame {
  border: none;
}

.fc-timegrid-now-indicator-line {
  @aplly bg-red-700 !important;
}

.fc-scrollgrid, .fc-scrollgrid-section, .fc-scrollgrid-sync-table td, .fc-scrollgrid-sync-table table{
  @apply border-zinc-500 border-opacity-20 !important;
}

/* .fc-scrollgrid {
  border: none !important;
} */

.fc-scrollgrid * {
  @Apply bg-red-200 border-none !important;
}

.fc-col-header {
  @apply bg-cyan-700 text-white;
}

.fc {
  background-color: transparent;
}

.fc-dayGridMonth-view {
  /*  @apply bg-zinc-100 border-none bg-opacity-10 !important; */
   background-color: transparent !important;
 }

.fc-view-harness {
  background-color: transparent !important;
}
.fc-view-harness-passive {
  background-color: transparent !important;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-cyan-500 border border-cyan-600;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-cyan-100;
}

.fc .fc-button {
  @apply bg-cyan-800 hover:bg-cyan-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-cyan-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-cyan-600;
}
.fc-v-event {
  @apply bg-cyan-500 border-none;
}

