@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: #6157ff;
  --green: #74febd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  height: 100%;
  max-height: 100%;
}

/* .fc-scroller-harness {
  background-color: red !important;
} */

/* Define  */
.fc-daygrid-day {
  height: 10rem !important;
}

.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;
  @apply space-x-8;
}

.fc {
  z-index: 1;
}

.fc-day {
  @apply m-8;
}

.fc .fc-scrollgrid-section > * {
  @apply border-zinc-500 border-opacity-20 !important;
}

.fc-scrollgrid-sync-table {
  @apply w-full bg-transparent !important;
}

.fc table td {
  @apply border-zinc-500 border-opacity-30 !important;
}

.fc-timegrid-now-indicator-line {
  @apply border-cyan-600 !important;
}


.fc-timeGridWeek-view  {
  background: transparent !important;
}

.fc-scrollgrid-sync-inner {
  background-color: transparent !important;
}
.fc-daygrid-day-frame {
  border: none;
}

.fc-timegrid-now-indicator-line {
  @aplly bg-red-700 !important;
}

.fc-scrollgrid, .fc-scrollgrid-section, .fc-scrollgrid-sync-table td, .fc-scrollgrid-sync-table table{
  @apply border-zinc-500 border-opacity-20 !important;
}

/* .fc-scrollgrid {
  border: none !important;
} */

.fc-scrollgrid * {
  @Apply border-none !important;
}


/* Configure header */
.fc-col-header {
  @apply bg-zinc-800 text-white !important;
}
.fc {
  background-color: transparent;
}

.fc-dayGridMonth-view {
  /*  @apply bg-zinc-100 border-none bg-opacity-10 !important; */
   background-color: transparent !important;
 }

.fc-view-harness {
  background-color: transparent !important;
  border: none !important;
}

.fc-view-harness-passive {
  background-color: transparent !important;
  border: none !important;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

/* define day of week */
.fc-h-event {
  @apply bg-blue-500 border border-zinc-900;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-blue-50 dark:bg-zinc-800;
}

.fc .fc-button {
  @apply bg-zinc-700 hover:bg-cyan-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-zinc-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-zinc-600;
}
.fc-v-event {
  @apply bg-zinc-500 border-none;
}

.scroll-none::-webkit-scrollbar {
  display: none;
  width: 0px; /* Largura da barra de rolagem */
}

/* Estilo para o indicador da barra de rolagem (thumb) */
.scroll-none::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo da barra de rolagem */
}

/* Estilo para o indicador da barra de rolagem quando passa o mouse */
.scroll-none::-webkit-scrollbar-thumb:hover {
  opacity: 1; /* Cor de fundo da barra de rolagem quando passa o mouse */
  display: none;
}

/* Estilo para a barra de rolagem (track) */
.scroll-none::-webkit-scrollbar-track {
  display: none;
  opacity: 0;
}